body{
    background: black;
    cursor: crosshair;
   font-family: "Source Sans Pro", sans-serif;
}
h1{
    color: white;
    text-align: center;
    font-weight: 900;
    user-select: none;
    font-size: 3.0em;
    margin: 5% 30%;
}
img{
    height: 30%;
    width: 40%;
    margin: 5% 30%;
    opacity: 0.5;
}
h2{
    color: white;
    text-align: center;
    font-size: 1.5em;
    user-select: none;
    margin: 5% 20%;
    font-weight: 400;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
